
  /* Fade-in animation for table rows */
  .fade-in-row {
    animation: fadeIn 0.5s ease-in-out;
  }

  /* Button hover animation */
  button:hover {
    transform: scale(1.05); /* Increase size on hover */
    transition: transform 0.2s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .table-button {
    padding: 5px 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 4px;
  }

  .table-button:hover {
    background-color: #b34500f7;
  }

